@page
@model RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head><meta charset="utf-8" /><title>Redirecting…</title></head>
<body>
<script>window.location.replace('/login#register');</script>
</body>
</html>
